<form #createExpenseForm="ngForm" (ngSubmit)="createExpense()" class="expense-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Expense Name</mat-label>
    <input matInput name="expense-form" [(ngModel)]="model.expenseName" placeholder="Title">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Business</mat-label>
    <textarea matInput name="business" [(ngModel)]="model.business"  [(ngModel)]="model.paymentStatus" placeholder="Business"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Amount</mat-label>
    <input type="number" matInput name="amount" min="0" [(ngModel)]="model.amount" placeholder="1">
  </mat-form-field>
  <div class="form-field">
    <button mat-raised-button color="primary" type="submit" class="form-button">Create Expense</button>
    <button mat-raised-button color="primary" type="button" class="form-button" (click)="cancel()">Cancel</button>
  </div>
</form>